@font-face {
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  src: url("../font/RobotoSlabLight.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  src: url("../font/RobotoSlabBold.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: 'Proxima', serif;
  font-style: normal;
  src: url("../font/ProximaNova-Regular.woff");
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family:'Roboto Slab', serif;
  font-size: 15px;
  line-height: 27px;
  color: #31353e;
  font-style: normal;
  background-color: #edeff1;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

