//color
$color-orange: #dd4b2b;
$color-brown: #612316;

//width
$tablet-width: 1024px;
$mobile-width: 480px;

//gradient
$bg-gradient: linear-gradient(rgba(1, 1, 1, 0.8), rgba(255, 255, 255, 0.2));

//shadow
$text-shadow: 0.5px 0 0.5px rgba(255, 255, 255, 0.5);
